<div class="theme-light">
  <section class="section">
    <div class="container">
      <h1 class="title">
        PORTFÓLIO DE RECEITAS
      </h1>
      <div class="field">
        <label class="label">Pesquisar</label>
        <div class="control">
          <input class="input" [formControl]="searchControl" type="text" placeholder="Digite o termo para pesquisar (min 4 caracteres)">
          <span class="warning">{{ msgAlerta }}</span>
        </div>
      </div>
      <div *ngIf="(receitas$ | async) as receitas">
        <div class="columns" *ngIf="receitas.length > 0; else noReceitas">
          <div class="column" *ngFor="let receita of receitas | slice:0:3; let i = index" [attr.data-index]="i">
            <app-card [receita]="receita"></app-card>
          </div>
        </div>
      </div>
      <ng-template #noReceitas>
        <div class="columns">
          <div class="column">
            <app-placeholder></app-placeholder>
          </div>
          <div class="column">
            <app-placeholder></app-placeholder>
          </div>
          <div class="column">
            <app-placeholder></app-placeholder>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</div>
