<div>
    <app-placeholder *ngIf="!receita"></app-placeholder>
    <div class="card" *ngIf="receita">
      <img [src]="receita.image" alt="Imagem da receita">
      <div class="informacoes">
        <span class="title" (click)="detalheReceita()">
          {{ receita.name }}
          <img src="assets/images/paper-icon.svg" class="icon">
        </span>
        <star-rating [starType]="'svg'" [rating]="receita.rating"></star-rating>
        <p class="chips">{{ receita.difficulty }}</p>
        <p class="chips">{{ receita.cuisine }}</p>
        <p class="chips">{{ receita.caloriesPerServing }} cal</p>
      </div>
    </div>
    <app-modal [receita]="receita" [isVisible]="isModalVisible" (close)="closeModal()"></app-modal>
  </div>
  