.warning{
    color: gray;
    font-size: 10px;
}

.chips{
    display: inline-block;
    margin: 2px;
    padding: 2px 10px;
    background-color: gray; /* Fundo preto com 30% de opacidade */
    border-radius: 10px; /* Bordas arredondadas */
    color: black; /* Cor do texto */
}

.informacoes{
    padding: 20px;
    text-align: left !important;
    align-items: left !important;
}

.title{
    font-size: 20px;
    font-weight: bold;
}