.warning{
    color: gray;
    font-size: 10px;
}



.informacoes{
    padding: 20px;
    text-align: left !important;
    align-items: left !important;
}



.icon{
    margin-left: 10px;
    width: 15px;
    height: 30px;
}