@import 'src/stylesheets/bulma.css';

@import '~css-star-rating/css/star-rating.min.css';

.rating {
  justify-content: left !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.chips{
  display: inline-block;
  margin: 2px;
  padding: 2px 10px;
  background-color: lightgray; /* Fundo preto com 30% de opacidade */
  border-radius: 10px; /* Bordas arredondadas */
  color: black; /* Cor do texto */
}

.title{
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

html{
  background-color: white;
}